 /* ACCORDIONA */
.vanderweb-bs4-accordions.icons-left .card-header:after,
.vanderweb-bs4-accordions.icons-right .card-header:after {
  font-family: 'FontAwesome';  
  content: "\f068";
  margin-top: 2px;
}
.vanderweb-bs4-accordions.icons-left .card-header.collapsed:after,
.vanderweb-bs4-accordions.icons-right .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}
.vanderweb-bs4-accordions.icons-right .card-header:after {
    float: right; 
}
.vanderweb-bs4-accordions.icons-left .card-header:after {
    float: left;
    margin-right: 20px;
}

 /* TABS */
.vanderweb-bs4-tabs ul.nav-tabs {
  margin: 0;
}
.vanderweb-bs4-tabs .tab-content .tab-pane {
  padding-top: 10px;
}